<div class="jumbotron center">
	<h1>About</h1>
	<div class="body-text">
		<p>This is my app. It was made by following the Ruby on Rails program offered online by <a href="https://onemonth.com/courses" target="_blank"><strong>One Month</strong></a>. I took the course because I wanted to have a better idea of how web applications are put together using one of the more prominent frameworks out there. Having worked in digital for nearly 16 years, a lot has changed, and my ability to write even a bit of code had near vanished. As the CEO of a <a href="http://enginedigital.com" target="_blank">digital agency</a>, I rely on the incredibly smart people on our team to lead our technolgy practice and client work.<br><br></p>
		<p>I was pretty excited to try <strong>One Month</strong> out to see if it would ignite my interest in code, and help me better understand the work our team does from a development perspective. Mission accomplished. While it took a little longer than a month to complete, I was at one point far ahead of schedule. I was able to trouble shoot a persistent bug myself, one that was stopping my entire app from working, and stopping me from moving ahead in the course. Felt good to find the error, fix the code, and get back on track.<br><br></p>
		<p>So, for anyone interested in learning a little more than the basics of Ruby on Rails, I would definitey suggest taking the <strong>One Month</strong> program. Feels pretty good to see something come together in such a short period of time.<br><br></p>
		<p>If you have any questions for me, or if I can help you with your <strong>One Month</strong> app, feel free to reach out to me on Twitter at <a href="http://twitter.com/mrstephenbeck">@mrstephenbeck</a><br><br></p>
	</div>
	<p style="font-size: 12px"><%= link_to "Back", root_path %></p>
</div>