// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
	margin: 0 auto;
}

.panel {
	border-radius: 0px;
}

.box {
	margin: 5px;
	width: 214px;
	border-radius: 0px;
}

.box img {
	width: 100%;
}

.sm-avatar {
	width: 32px;
	height: 32px;
	margin-right: 8px;
}

.img-responsive {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

