<nav class="footer-nav navbar-fixed-bottom">
  <div class="container">
      	<ul class="nav nav-pills">
      		<li role="presentation"><%= link_to "© One Month App", root_path %></li>
      		<li role="presentation"><%= link_to "About Us", about_path %></li>
      		<li role="presentation"><%= link_to "Privacy Policy", privacy_path %></li>
      		<li role="presentation"><%= link_to "Terms of Use", terms_path %></li>
      	</ul>
  </div><!-- /.container -->
</nav>